<!DOCTYPE html>
<html>
<head>
  <link rel="manifest" href="manifest.json" />
  <title>Sistema de reutilização</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="icon" href="./content/images/smile.png" type="image/x-icon" />
</head>
<body class="h-screen bg-green-200">
  <div class="grid place-items-center h-full">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="pseudonimo">
            Pseudónimo
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="pseudonimo" type="text" placeholder="Pseudónimo" />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Chave privada
          </label>
            <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="privateKey" type="file" accept=".pem" />
            <p class="text-gray-600 text-xs italic">Faça upload da sua chave privada</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
