<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Pereiro - Itens</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="manifest" href="manifest.json" />
  </head>
  <body class="min-h-screen bg-gradient-to-b from-blue-100 to-blue-200">
    <div class="dark:bg-white navbar bg-base-100">
      <div class="flex-1">
        <img src="/logotipoER.png" alt="Logo" class="h-10 w-auto mr-2" />
        <a class="btn btn-ghost text-xl dark:text-black"
          >Pereiro - Plataforma de reutilização</a
        >
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <button tabindex="0" class="btn btn-square btn-ghost dark:text-black">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-5 w-5 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
              ></path>
            </svg>
          </button>
          <ul
            tabindex="0"
            class="dark:bg-white text-black dropdown-content menu menu-sm z-[1] mt-3 w-52 bg-base-100 p-2 shadow rounded-box"
          >
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/sair">Sair</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Hero Section -->
    <div class="container mx-auto px-4 py-16">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-6">Itens</h1>
      </div>
    </div>

    <footer class="bg-white py-8">
      <div class="container mx-auto px-4">
        <div class="text-center text-dark">
          <p>&copy; Pereiro - Plataforma de reutilização</p>
          <p>Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
